<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Brigitte</title>
		<link rel='stylesheet' href='/css/style.css' />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	</head>

	<body>
		<div class='wrapper'>
			<section id='home'>
				<h1>Brigitte Powers</h1>
				<nav id='nav-bar'>
					<!-- Page Navigation Links-->
					<a href='#home'>Home</a></li>
					<a href='#about'>About</a></li>
					<a href='#projects'>Projects</a>
					<a href='#contacts'>Contact</a>
				</nav>
			</section>

            <section class="hero-container" id="about">
                <!--Main Banner Image-->
                <div class="hero-img" >
                    <div class="hero-txt">
                        <h1>
                            <span class=typewriter-cursor>|</span>
                            <span class="typewriter">Hi, I'm Brigitte :]</span>
                        </h1>
                        <p>
                            <span>I'm a <strong>designer and developer</strong> currently based in <strong>Helotes, TX</strong>. I'm passionate about responsive design, functional <strong>JavaScript</strong>, and organizing clutter.
                            <br><br>
                            As a technical writing major, I've come to find there's nothing more important than effective communication. To that end, I'm always seeking to learn the newest technologies and methods that we use to share knowledge everyday.
                            <br><br>
                            I'm a proud graduate from the University of Texas at San Antonio (go roadrunners!) with an undergraduate in Technical Writing and a hobbyist graphic designer, writer, and programmer. It is my goal to use my well-rounded database of skills to create content that <strong>educates and helps people</strong> come together to learn and grow.
                            </span>
                        </p>
                    </div>
                </div>
            </section>

            <main id='projects'>
                {{{ body }}}
            </main>

            <section id="contacts" class="contacts">
                <div class=section-header>
                    <!-- div hidden element to match alignment-->
                    <div>Return to top</div>
                    <h2 id="contacts">Reach Out</h2>
                    <h3><a href=#home>Return to top</a></h3>
                </div>
                <div class="contact-info">
                    <p>
                        <span>210 - 414 -5959</span>
                        <br>
                        <span>powers.brigitte@gmail.com</span>
                        <br>
                        <span>reyhn701@gmail.com</span>
                    </p>
                    <nav class="social-media">
                        <ul>
                            <li>
                                <a href="https://github.com/BrigittePowers" target="_blank" aria-label="Go to Brigitte's Github account">
                                    <i class="fab fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/brigitte-powers" target="_blank" aria-label="Go to Brigitte's linkedin account">
                                    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://docs.google.com/document/d/1WLiAO7up4Sm-gYZnCbwnqV10gjN6aqjEMrihV4dpGLI/edit?usp=sharing" target="_blank" aria-label="Go to Brigitte's resume">
                                    <i class="fab fa-google-drive" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="./assets/uploads/Resume.pdf" target="_blank" aria-label="Download Brigitte's resume as a .pdf">
                                    <i class="far fa-file-pdf" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
		</div>

        <script src="https://kit.fontawesome.com/b906c866da.js" crossorigin="anonymous"></script>

	</body>
</html>