<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Brigitte</title>
		<link rel='stylesheet' href='/css/style.css' />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <!-- Animate -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	</head>

	<body>
		<div class='wrapper'>
            {{>header}}

            <section class="hero-container" id="about">
                <!--Main Banner Image-->
                <div class="hero-img" >
                    <div class="hero-txt">
                        <div class='intro'>
                            <p class="typewriter">Hi, I'm Brigitte :]</p> 
                            <p class='type-cursor animate__animated animate__repeat-3 animate__fadeOut'>|</p>
                        </div>
                        <p>
                            <span>I'm a <strong>designer and developer</strong> currently based in <strong>Helotes, TX</strong>. I'm passionate about responsive design, functional <strong>JavaScript</strong>, and organizing clutter.
                            <br><br>
                            As a technical writing major, I've come to find there's nothing more important than effective communication. To that end, I'm always seeking to learn the newest technologies and methods that we use to share knowledge everyday.
                            <br><br>
                            I'm a proud graduate from the University of Texas at San Antonio (go roadrunners!) with an undergraduate in Technical Writing and a hobbyist graphic designer, writer, and programmer. It is my goal to use my well-rounded database of skills to create content that <strong>educates and helps people</strong> come together to learn and grow.
                            </span>
                        </p>
                    </div>
                </div>
            </section>

            <main id='projects'>
                {{{ body }}}
            </main>

            {{>footer}}
		</div>

        <script src="https://kit.fontawesome.com/b906c866da.js" crossorigin="anonymous"></script>

	</body>
</html>